header {
    font-family: "Shrikhand",cursive;
    text-align: center;
    
    h1{
        margin-left: 10px;
    }   
    & i{
        font-size: 28px;
        color: gray;
        margin-left: 15px;
        &:hover{
            color: black;
        }
    }
}
.flech{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    width: 65%;
  }
  
	
  